bbpb>=1.0.1 # bbpb = blackboxprotobuf
pydantic>=2.0
aiorak @ git+https://github.com/wu-vincent/aiorak.git
minebase @ https://github.com/py-mine/minebase/archive/refs/heads/update-mcdata-3.111.0.zip
javascript>=1!1.2.6
loguru>=0.7.3
ormsgpack>=1.12.2
protobuf>=7.34.1
PyYAML>=6.0.3
aiohttp>=3.13.5
websockets>=16.0
xxtea>=3.8.0